{% block title %}<title>Etudiant</title>{% endblock %}

{% block content %}
<h1 class="text-center"> Ajout d'etudiant</h1>
<form method="post" action='/ajout_etudiant'>
        {% csrf_token %}
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" required><br>

        <label for="prenom">Prénom :</label>
        <input type="text" name="prenom" id="prenom" required><br>


         <label for="matricule">Matricule :</label>
        <input type="text" name="matricule" id="matricule" required><br>
        

        
        <label for="departement">departement :</label>
        <input type="text" name="departement" id="departement" required><br>
        
        
         <label for="statut">statut :</label>
        <input type="text" name="statut" id="statut" required><br>
        
         <label for="identifiant">identifiant :</label>
        <input type="text" name="identifiant" id="identifiant" required><br>
        
      
        
        <button type="submit">Ajouter</button>
    </form>
{% endblock %}
